@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

/* Body */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* Header */

header {
  background-color: #eac926;
  padding: 16px;
}

.header {
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 40%;
}

.buscador {
  margin: 0 1rem 0 1rem;
  text-align: center;
  width: 40%;
  font-size: 12px;
}

.cuotas {
  padding: 1rem;
}

.menu {
  text-align: center;
  padding: 1rem;
}

.fa-bars {
  background-color: #1259c3;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 12px;
}

/* Main */

main {
  text-align: center;
  padding: 20px;
  background-color: #ebebeb;
}

h3 {
  font-size: 18px;
  color: #666666;
  padding: 2rem;
}

.ultima-vista {
  margin-top: 10px;
}

.articulos {
  background-color: white;
  border: #ebebeb;
  margin-bottom: 1rem;
}

.productos-detalles {
  border-top: 1px solid #ebebeb;
  text-align: left;
  margin-left: 15px;
}

.camion {
  position: relative;
}

.fa-truck {
  color: green;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 450ms;
}

.precio-descuento {
  margin-top: 0.25rem;
  display: flex;
  align-content: center;
}

.precio {
  padding: 0.5rem;
  font-size: 18px;
}

.descuento {
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-size: 14px;
  color: green;
}

.nombre-elemento {
  font-size: 12px;
  color: #666666;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* Footer*/

footer {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

.fa-credit-card,
.fa-gift,
.fa-user-shield {
  font-size: 2em;
  color: #1259c3;
  margin-top: 3rem;
}

h4 {
  font-size: 16px;
}

.footer > p {
  font-size: 12px;
}

#p1 {
  text-align: left;
  color: #666666;
}

/* Celulares */

main section article div div i:hover{
    transform: rotate(-90deg);
  }
  
  .productos-detalles{
    position: relative;
  }
  

nav {
  display: none;
}

.nombre-elemento {
  display: none;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 12px;
  }
  header {
    height: 9rem;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
  }

  .logo {
    width: 50%;
  }

  .buscador {
    margin-left: 0.5rem;
    text-align: center;
    width: 40%;
    font-size: 12px;
  }

  .cuotas {
    padding: 0.5rem;
    width: 60%;
  }

  .menu {
    display: none;
  }

  nav {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav > ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  .nav > ul > li > a {
    text-decoration: none;
    color: black;
  }

  .nav {
    display: flex;
  }

  .nav {
    display: flex;
  }

  .articulos {
    width: 90%;
    height: max-content;
    margin-bottom: 1rem;
  }

  .ultima-vista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }

  .nombre-elemento {
    display: block;
  }

  main {
    text-align: left;
  }

  h3 {
    width: 90%;
  }

  nav > li {
    color: black;
  }

  main section article div div i:hover{
    transform: rotate(-90deg);
  }
  
  .productos-detalles{
    position: relative;
  }
  
  .nombre-elemento{
    display: none;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
  }
  
  .articulos:hover{
    height: 20rem;
    box-shadow: 0 0 10px 0 rgb(100, 100, 100);
  }
  
  .articulos:hover .nombre-elemento{
    display: block;
  }


}

@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }
  header {
    height: 12rem;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
  }

  .buscador {
    margin-left: 2rem;
  }

  .cuotas {
    font-size: 15px;
    position: relative;
  }

  .ultima-vista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
  }

  .nav > ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  footer {
    text-align: center;
  }

  .contendor-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
  }

  .fa-user-shield:hover {
    color: black;
  }

  .fa-credit-card:hover {
    color: black;
  }

  .fa-gift:hover {
    color: black;
  }

  .copy {
    align-items: center;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    justify-content: center;
  }

  main section article div div i:hover{
    transform: rotate(-90deg);
  }
  
  .productos-detalles{
    position: relative;
  }
  
  .nombre-elemento{
    display: none;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 16px;
  }
  
  .articulos:hover{
    height: 21.875rem;
    box-shadow: 0 0 10px 0 rgb(100, 100, 100);
  }
  
  .articulos:hover .nombre-elemento{
    display: block;
  }

}


